################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/player/v15
/.vs/player/DesignTimeBuild
/player/bin
/player/obj/x86
